* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.container {
  background-color: #23424a;
  color: white;
  width: 80%;
  margin: 0 auto;
  padding: 3em;
}

.inner-text {
  width: 50%;
}
